.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid grey;
}

@media (min-width: 576px) {
  .wrapper{
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .wrapper{
    width: 75vw;
  }
 }

@media (min-width: 992px) {
  .wrapper{
    width: 50vw;
  }
 }

@media (min-width: 1200px) {
  .wrapper{
    width: 40vw;
  }
 }

@media (min-width: 1400px) {
  .wrapper{
    width: 30vw;
  }
 }
