/* div{
    width: 30vw;
    color: white;
    text-align: end;
} */

.item-16{
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: limegreen;
    border: 0px;
    color: white;
    text-align: end;
}